{
    "Rules": [
        {
            "Status": "Enabled", 
            "Prefix": "{{ _backup_s3_expire_policy.prefix }}", 
            "Expiration": {
                "Days": {{ _backup_s3_expire_policy.permanently_delete }}
            }, 
{% if _backup_s3_expire_policy.glacier_transition > 0 %}
            "Transition": {
                "Days": {{ _backup_s3_expire_policy.glacier_transition }},
                "StorageClass": "GLACIER"
            }, 
{% endif %}
            "ID": "{{ _backup_s3_expire_policy.name }}"
        }
    ]
}
