#!/bin/bash
#
# Optional arguments:
#
# -e <env>: list from another environment

BUCKET="{{ backup_mongo_bucket_name }}"
PROJECT="{{ backup_mongo_project }}"
ENV="{{ env }}"

while getopts d:e: var
do
  case $var in
    e) ENV="$OPTARG" ;;
  esac
done

aws s3 ls s3://${BUCKET}/${PROJECT}/mongodb/${ENV}/ | sed 's/.*-\([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]\)\.tar\.gz/\1/' | sort
